body  {

	background-image: url(../images/flower11.png);
	background-size: cover;
	background-color: #95cbf1;
	background-repeat: none;
	height: 100%;
}

body .jumbotron {

	background-image: url(../images/flower11.png);
	background-size: cover;
	background-color: #95cbf1;
	height: 100%;
}


.jumbotron h1, p {
	
	font-family: 'Sniglet', cursive;
}


.top-buffer { 

	margin-top: 30px; 
}

.col-md-12 {

	box-sizing: border-box;

	color: rgb(51, 51, 51);

	display: block;

	font-family: Sniglet, cursive;
	
	font-size: 30px;

	font-weight: 300;
	
	line-height: 60px;
}

#FlowerName {

	box-sizing: border-box;
	
	color: rgb(51, 51, 51);

	display: block;

	margin-left: 1%;

	font-family: Sniglet, cursive;
	
	font-size: 50px;

	font-weight: 500;
	
	line-height: 100px;
}

#WinMessage {

	box-sizing: border-box;
	
	color: rgb(51, 51, 51);

	display: block;

	margin-left: 1%;

	font-family: Sniglet, cursive;
	
	font-size: 30px;

	font-weight: 300;
	
	line-height: 60px;
}

#NotMatching {	

	box-sizing: border-box;
	
	color: rgb(51, 51, 51);

	display: block;

	margin-left: 1%;

	font-family: Sniglet, cursive;
	
	font-size: 30px;

	font-weight: 300;
	
	line-height: 60px;
}